/*
 * Student Name: Shelby Surprenant-Nicolson
 * Student ID: 041095620
 * Course: CST8117 - Cross-Platform Web Design
 * Semester: Winter 2023
 * Assignment: 4
 * Date Submitted:  Apr 17, 2023
 */

	/*
	Colour palette chosen is the triad colour palette. the colour palette 
	chosen utilizes red, blue and yellow as the colours. Red and blue are the most 
	primary colours used in the website, with yellow and white used as accents 
	around the webpage. the reason why is because the colour scheme is already 
	similar to the one the official pokemon uses and it is a simple triad 
	colour palette that is easy to recognise and is simple to use.
	*/


* {
  padding: 0px;
  margin: 0px;
}

	/* the Default design AKA desktop Landscape */

body {
  height:1250px;
  background-color: #DCDCDC;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

	/*
	Citation: https://www.w3schools.com/howto/howto_css_searchbar.asp
	Date Retrieved: Feb 23, 2023
	Notes: copied and adapted 11 CSS styles to style the header search button
	*/

.nav_bar {
  overflow: hidden;
  background-color: #191970;
}

.nav_bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.nav_bar a:hover {
  background-color: #4682B4;
  color: black;
}

.nav_bar a.active {
  background-color: #FF0000;
  color: white;
}

.nav_bar .icon {
  display: none;
}

.nav_bar .search-container {
  float: right;
}

.nav_bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 1rem;
  border: none;
}

.nav_bar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.nav_bar .search-container button:hover {
  background: #ccc;
}

.nav_bar .search-container {
    float: right;
}

	/*
	Citation: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption
	Date retrieved: Feb 02, 2023
	notes: copied and adapted 3 CSS styles to style the figcaption.
	*/


input.checkbox{
  float:left;
  padding: 5px;
  margin: 7px 5px 0 10px;
 cursor: pointer;
}

figure {
  float: left;
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  background-color: #fff;
  color: #222;
  font: italic sans-serif;
  padding: 4px;
  text-align: center;
}

	/*
	Citation: https://www.w3schools.com/howto/howto_css_bottom_nav.asp
	Date Retrieved: Feb 02,2023
	Notes: copied and adapted 4 CSS styles to style bottom nav.asp 
	*/

.navbar {
  background-color: #191970;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

	/* Style the links inside the navigation bar */
	
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

	/* Change the color of links on hover */
	
.navbar a:hover {
  background-color: #4682B4;
  color: black;
}

	/* Add a color to the active/current link */
	
.navbar a.active {
  background-color: #FF0000;
  color: white;
}

.navbar p {
  float: right;
  padding: 2px;
  color: white;
}


	/* For Mobile Portrait View */
	/* this is for the mobile portrait view which would be utilized with phones.
	 * the @media query is a rule to include the css underneath if the conditions are true
	 */
	
	@media screen and (max-device-width: 480px)
	and (orientation: portrait) {
		
	body {
	  height:1500px;
	}

	.nav_bar a:not(:first-child) {display: none;}
	  .nav_bar a.icon {
		float: right;
		display: block;
	}
	  
	.nav_bar.responsive {position: relative;}
	  .nav_bar.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav_bar.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.nav_bar input[type=text] {
	  padding: 6px;
	  margin-top: 8px;
	  font-size: 1.3rem;
	  border: none;
	}

	.nav_bar .search-container button {
	  float: right;
	  padding: 6px 10px;
	  margin-top: 8px;
	  margin-right: 16px;
	  background: #ddd;
	  font-size: 1.3rem;
	  border: none;
	  cursor: pointer;
	}

	}
 
 
	/* For desktop Landscape View */
	/* this is used for the mobile landscape view of a desktop (laptop, monitor). */

	@media screen and (max-device-width: 640px)
	and (orientation: landscape) {
	  .body {
		width: 400px;
		height: 200px;
		background-color: #DCDCDC;
	  }
	}